*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  list-style:none;  
}

body{
    margin-top:0px;
    font-family:sans-serif;
}

header .barra_superior{
    border-botton:1px solid #CCCCCC;
    color:#BBBBBB;
    padding-top:10px;
    padding-bottom:10px;
    font-size:14px;
}

header .barra_superior .container{
    max-width:960px;
    width:100%;
    margin:0 auto;
}

header .barra_superior .container ul li{
    padding:2px;
    display:inline-block;
}