*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  list-style:none;  
}

body{
    margin-top:0px;
    font-family:sans-serif;
}

.barra_superior{
    border-bottom:1px solid #CCCCCC;
    color:#474747;
    padding-top:10px;
    padding-bottom:10px;
    font-size:14px;
}

.barra_superior .container{
    max-width:960px;
    width:100%;
    margin:0 auto;
}

.barra_superior .container ul li{
    padding:2px;
    display:inline-block;
}

nav{
    color:#474747;
    font-size:16px;
    float:right;
    margin-top:50px;
}

.container .logo{
    width:10%;
    padding-left:10px;
}

nav a{
    color:#474747;
    text-decoration:none;
    margin-right:20px;
}

nav a .btn_destaque{
    margin-left:20px;
}

.btn_destaque{
    background-color:#FF4D4D;
    color:#FFFFFF;
    padding:12px 20px;
    border-radius:3px;
    font-size:16px;
    text-decoration:none;
}


